# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
poreUtils.cpython-39.pyc

.ipynb_checkpoints/

/Output/
study_group.csv
test.py
test.ipynb
chatGPT_testGround.ipynb
chatGPT_testGround.py
cross_correlation_heatmap.ipynb
interactive_roi_visualization_on_the_sample.ipynb
interactive_overlaping_of_rois_with_distancetransform.ipynb
interactive_box_plot.ipynb
pore_volume_and_fibrosis_correlation.ipynb
extract_pore_features_with_porespy.ipynb
extract_pore_features_with_pypore3d.ipynb
tiles_generation_from_sample.ipynb
segmentation3d_parameter_investigation.ipynb

/notebooks/
/pores/


# Jupyter Notebook
.ipynb_checkpoints


/pyfiles/